@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Lexend+Deca:wght@200&display=swap');
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}

    body{
    margin:0;
    font-family: 'Encode Sans', sans-serif;
    }
    a:visited{
    color:white;
   }
   a:link{
    color:white;
   }
   a{
    text-decoration:none;
    margin-right: 10px;
   }
   .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(18, 18, 18);
    color: white;
    }
    .navbar h1{
     margin-left: 20px;
    }
    .navbar div{
        margin-right: 20px;
    }

    